@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background: #FFFFFF;
  font-family: "Space Mono", monospace;
}
body .careersPageDeskTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}
body .careersPageDeskTop .headerTableBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 22px;
  margin-bottom: 21px;
}
body .careersPageDeskTop .headerTableBar .headerNav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 53px;
}
body .careersPageDeskTop .headerTableBar .headerNav header {
  display: flex;
  align-items: center;
  width: 1106px;
  height: 53px;
}
body .careersPageDeskTop .headerTableBar .headerNav header .allPageLinkes {
  display: flex;
  margin-left: 58px;
  align-items: center;
  justify-content: space-between;
  width: 249px;
  height: 25px;
}
body .careersPageDeskTop .headerTableBar .headerNav header .allPageLinkes a {
  text-decoration: none;
  color: #939CAA;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  transition: 0.4s;
}
body .careersPageDeskTop .headerTableBar .headerNav header .allPageLinkes a:hover {
  cursor: pointer;
  color: #FCB72B;
}
body .careersPageDeskTop .headerTableBar .headerNav header .getScootIn {
  padding: 14px 39px 14px 39px;
  background: #FCB72B;
  font-family: "Space Mono", monospace;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  margin-left: 512px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  transition: 0.1s;
}
body .careersPageDeskTop .headerTableBar .headerNav header .getScootIn:hover {
  cursor: pointer;
  background: #FFFFFF;
  color: #FCB72B;
  border: 3px solid #FCB72B;
  padding: 12px 36px 12px 36px;
}
body .careersPageDeskTop .aboutBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
}
body .careersPageDeskTop .aboutBlock .aboutIntroduction {
  display: flex;
  align-items: center;
  width: 1440px;
  height: 200px;
  background-image: url(../careersPage/careersPageImg/careersPageImg.png);
  opacity: 0.75;
  background-position: center center;
  background-size: cover;
}
body .careersPageDeskTop .aboutBlock .aboutIntroduction .aboutIntroWord {
  color: #FFFFFF;
  font-family: Space Mono;
  font-size: 56px;
  margin-left: 165px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -2.5px;
}
body .careersPageDeskTop .aboutBlock .aboutIntroduction .circleForDesighnOfIntro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 234px;
  height: 63px;
  margin-left: 783px;
}
body .careersPageDeskTop .aboutBlock .aboutIntroduction .circleForDesighnOfIntro .firstCircle {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  margin-right: 22px;
  border-radius: 100%;
  border: 3px solid #FFF;
}
body .careersPageDeskTop .aboutBlock .aboutIntroduction .circleForDesighnOfIntro .secondCircle {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  margin-right: 22px;
  border-radius: 100%;
  border: 3px solid #FFF;
}
body .careersPageDeskTop .aboutBlock .aboutIntroduction .circleForDesighnOfIntro .thirdCircle {
  width: 63px;
  height: 63px;
  flex-shrink: 0;
  border-radius: 100%;
  background: #FFFFFF;
}
body .careersPageDeskTop .mappyLocation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  width: 1440px;
  height: 543px;
}
body .careersPageDeskTop .mappyLocation .mappyLocationBlock {
  width: 1110px;
  height: 543px;
  background-image: url(../locationPage/locationPageImg/mapOflocationPage.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
body .careersPageDeskTop .mappyLocation .mappyLocationBlock .locationMessages {
  width: 189px;
  height: 88px;
}
body .careersPageDeskTop .mappyLocation .mappyLocationBlock .locationMessages .mainBlockOfLocationMasseges {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 189px;
  height: 72px;
  background: #FCB72B;
}
body .careersPageDeskTop .mappyLocation .mappyLocationBlock .locationMessages .mainBlockOfLocationMasseges h3 {
  color: #495567;
  text-align: center;
  font-family: Space Mono;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -1.071px;
}
body .careersPageDeskTop .mappyLocation .mappyLocationBlock .locationMessages .triagleOfLocationMassages {
  position: relative;
  width: 20px;
  left: 84px;
  bottom: 10px;
  height: 20px;
  background: #FCB72B;
  transform: rotate(45deg);
}
body .careersPageDeskTop .mappyLocation .mappyLocationBlock .newYork {
  margin-top: 71.44px;
  margin-left: 147px;
}
body .careersPageDeskTop .mappyLocation .mappyLocationBlock .london {
  margin-left: 393px;
  margin-top: -144px;
}
body .careersPageDeskTop .mappyLocation .mappyLocationBlock .yokohama {
  margin-left: 856px;
  margin-top: -22px;
}
body .careersPageDeskTop .mappyLocation .mappyLocationBlock .jakarta {
  margin-left: 779px;
  margin-top: 85px;
}
body .careersPageDeskTop .aboutOurCity {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1440px;
  margin-top: 120px;
  height: 100px;
}
body .careersPageDeskTop .aboutOurCity .aboutOurCityBlock {
  display: flex;
  align-items: center;
  width: 1110px;
  height: 100px;
}
body .careersPageDeskTop .aboutOurCity .aboutOurCityBlock h2 {
  width: 351px;
  height: 96px;
  color: #495567;
  font-family: Space Mono;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2.143px;
}
body .careersPageDeskTop .aboutOurCity .aboutOurCityBlock p {
  height: 100px;
  margin-left: 30px;
  margin-right: 104px;
  width: 445px;
  color: #939CAA;
  font-family: Lexend Deca;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
body .careersPageDeskTop .aboutOurCity .aboutOurCityBlock .messageUs {
  padding: 14px 44px 14px 44px;
  background: #FCB72B;
  color: #FFFFFF;
  text-align: center;
  font-family: Space Mono;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}
body .careersPageDeskTop .aboutOurCity .aboutOurCityBlock .messageUs:hover {
  cursor: pointer;
  background: #FFFFFF;
  color: #FCB72B;
  border: 3px solid #FCB72B;
  padding: 12px 42px 12px 42px;
}
body .careersPageDeskTop .fullFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1440px;
  margin-top: 120px;
  height: 396px;
}
body .careersPageDeskTop .fullFooter .signUp {
  display: flex;
  align-items: center;
  width: 1440px;
  height: 300px;
  background-image: url(../img/homePictures/footerBackground.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
body .careersPageDeskTop .fullFooter .signUp .signUpScoot {
  width: 415px;
  height: 96px;
  margin-left: 165px;
  color: #FFFFFF;
  font-family: Space Mono;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2.143px;
}
body .careersPageDeskTop .fullFooter .signUp .allAppStores {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 359px;
  height: 56px;
  margin-left: 336px;
}
body .careersPageDeskTop .fullFooter footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1440px;
  height: 96px;
  background: rgb(51, 58, 68);
}
body .careersPageDeskTop .fullFooter footer .mainFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1011px;
  height: 29px;
}
body .careersPageDeskTop .fullFooter footer .mainFooter .partOfMainFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 417px;
  height: 29px;
}
body .careersPageDeskTop .fullFooter footer .mainFooter .partOfMainFooter .allPageLinkess {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 249px;
  height: 25px;
}
body .careersPageDeskTop .fullFooter footer .mainFooter .partOfMainFooter .allPageLinkess a {
  text-decoration: none;
  color: #939CAA;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  transition: 0.4s;
}
body .careersPageDeskTop .fullFooter footer .mainFooter .partOfMainFooter .allPageLinkess a:hover {
  cursor: pointer;
  color: #FCB72B;
}
body .careersPageDeskTop .fullFooter footer .mainFooter .socialNetworks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  height: 24px;
}
body .careersPageDeskTop .fullFooter footer .mainFooter .socialNetworks .facebook svg path {
  fill: #FCB72B;
  transition: 0.4s;
}
body .careersPageDeskTop .fullFooter footer .mainFooter .socialNetworks .facebook svg path:hover {
  fill: #E5ECF4;
  cursor: pointer;
}
body .careersPageDeskTop .fullFooter footer .mainFooter .socialNetworks .twitter svg path {
  fill: #FCB72B;
  transition: 0.4s;
}
body .careersPageDeskTop .fullFooter footer .mainFooter .socialNetworks .twitter svg path:hover {
  fill: #E5ECF4;
  cursor: pointer;
}
body .careersPageDeskTop .fullFooter footer .mainFooter .socialNetworks .instagram svg path {
  fill: #FCB72B;
  transition: 0.4s;
}
body .careersPageDeskTop .fullFooter footer .mainFooter .socialNetworks .instagram svg path:hover {
  fill: #E5ECF4;
  cursor: pointer;
}

@media (max-width: 1360px) and (min-width: 775px) {
  body {
    background: #FFFFFF;
    font-family: "Space Mono", monospace;
  }
  body .careersPageDeskTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  body .careersPageDeskTop .headerTableBar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 22px;
    margin-bottom: 21px;
  }
  body .careersPageDeskTop .headerTableBar .headerNav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 53px;
  }
  body .careersPageDeskTop .headerTableBar .headerNav header {
    display: flex;
    align-items: center;
    width: 689px;
    height: 53px;
  }
  body .careersPageDeskTop .headerTableBar .headerNav header .allPageLinkes {
    display: flex;
    margin-left: 58px;
    align-items: center;
    justify-content: space-between;
    width: 249px;
    height: 25px;
  }
  body .careersPageDeskTop .headerTableBar .headerNav header .allPageLinkes a {
    text-decoration: none;
    color: #939CAA;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    transition: 0.4s;
  }
  body .careersPageDeskTop .headerTableBar .headerNav header .allPageLinkes a:hover {
    cursor: pointer;
    color: #FCB72B;
  }
  body .careersPageDeskTop .headerTableBar .headerNav header .getScootIn {
    padding: 14px 39px 14px 39px;
    background: #FCB72B;
    font-family: "Space Mono", monospace;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    margin-left: 94px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    transition: 0.1s;
  }
  body .careersPageDeskTop .headerTableBar .headerNav header .getScootIn:hover {
    cursor: pointer;
    background: #FFFFFF;
    color: #FCB72B;
    border: 3px solid #FCB72B;
    padding: 12px 36px 12px 36px;
  }
  body .careersPageDeskTop .aboutBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
  }
  body .careersPageDeskTop .aboutBlock .aboutIntroduction {
    display: flex;
    align-items: center;
    width: 768px;
    height: 200px;
    background-image: url(../img/imgsOfAllTabletVersionPages/Group\ 26\ \(1\).png);
    opacity: 0.75;
    background-position: center center;
    background-size: cover;
  }
  body .careersPageDeskTop .aboutBlock .aboutIntroduction .aboutIntroWord {
    color: #FFFFFF;
    font-family: Space Mono;
    font-size: 56px;
    margin-left: 97px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -2.5px;
  }
  body .careersPageDeskTop .aboutBlock .aboutIntroduction .circleForDesighnOfIntro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 234px;
    height: 63px;
    margin-left: 910px;
  }
  body .careersPageDeskTop .aboutBlock .aboutIntroduction .circleForDesighnOfIntro .firstCircle {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    margin-right: 22px;
    border-radius: 100%;
    border: 3px solid #FFF;
  }
  body .careersPageDeskTop .aboutBlock .aboutIntroduction .circleForDesighnOfIntro .secondCircle {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    margin-right: 22px;
    border-radius: 100%;
    border: 3px solid #FFF;
  }
  body .careersPageDeskTop .aboutBlock .aboutIntroduction .circleForDesighnOfIntro .thirdCircle {
    width: 63px;
    height: 63px;
    flex-shrink: 0;
    border-radius: 100%;
    background: #FFFFFF;
  }
  body .careersPageDeskTop .mappyLocation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    width: 1440px;
    height: 543px;
  }
  body .careersPageDeskTop .mappyLocation .mappyLocationBlock {
    width: 689px;
    height: 337px;
    background-image: url(../img/imgsOfAllTabletVersionPages/Group\ 8.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  body .careersPageDeskTop .mappyLocation .mappyLocationBlock .locationMessages {
    display: none;
    width: 189px;
    height: 88px;
  }
  body .careersPageDeskTop .mappyLocation .mappyLocationBlock .locationMessages .mainBlockOfLocationMasseges {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 189px;
    height: 72px;
    background: #FCB72B;
  }
  body .careersPageDeskTop .mappyLocation .mappyLocationBlock .locationMessages .mainBlockOfLocationMasseges h3 {
    color: #495567;
    text-align: center;
    font-family: Space Mono;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -1.071px;
  }
  body .careersPageDeskTop .mappyLocation .mappyLocationBlock .locationMessages .triagleOfLocationMassages {
    position: relative;
    width: 20px;
    left: 84px;
    bottom: 10px;
    height: 20px;
    background: #FCB72B;
    transform: rotate(45deg);
  }
  body .careersPageDeskTop .mappyLocation .mappyLocationBlock .newYork {
    display: none;
    margin-top: 71.44px;
    margin-left: 147px;
  }
  body .careersPageDeskTop .mappyLocation .mappyLocationBlock .london {
    display: none;
    margin-left: 393px;
    margin-top: -144px;
  }
  body .careersPageDeskTop .mappyLocation .mappyLocationBlock .yokohama {
    display: none;
    margin-left: 856px;
    margin-top: -22px;
  }
  body .careersPageDeskTop .mappyLocation .mappyLocationBlock .jakarta {
    display: none;
    margin-left: 779px;
    margin-top: 85px;
  }
  body .careersPageDeskTop .aboutOurCity {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 573px;
    margin-top: 120px;
    height: 304px;
  }
  body .careersPageDeskTop .aboutOurCity .aboutOurCityBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 573px;
    height: 304px;
  }
  body .careersPageDeskTop .aboutOurCity .aboutOurCityBlock h2 {
    text-align: center;
    width: 457px;
    height: 96px;
    color: #495567;
    font-family: Space Mono;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2.143px;
  }
  body .careersPageDeskTop .aboutOurCity .aboutOurCityBlock p {
    text-align: center;
    height: 75px;
    margin-left: 30px;
    margin-right: 104px;
    width: 573px;
    color: #939CAA;
    font-family: Lexend Deca;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
  }
  body .careersPageDeskTop .aboutOurCity .aboutOurCityBlock .messageUs {
    padding: 14px 44px 14px 44px;
    background: #FCB72B;
    color: #FFFFFF;
    text-align: center;
    font-family: Space Mono;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
  }
  body .careersPageDeskTop .aboutOurCity .aboutOurCityBlock .messageUs:hover {
    cursor: pointer;
    background: #FFFFFF;
    color: #FCB72B;
    border: 3px solid #FCB72B;
    padding: 12px 42px 12px 42px;
  }
  body .careersPageDeskTop .fullFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 768px;
    margin-top: 120px;
    height: 396px;
  }
  body .careersPageDeskTop .fullFooter .signUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 768px;
    height: 300px;
    background-image: url(../img/imgsOfAllTabletVersionPages/footerTabletBack.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  body .careersPageDeskTop .fullFooter .signUp .signUpScoot {
    margin-top: 62px;
    width: 457px;
    height: 96px;
    margin-left: 0px;
    text-align: center;
    color: #FFFFFF;
    font-family: Space Mono;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2.143px;
  }
  body .careersPageDeskTop .fullFooter .signUp .allAppStores {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 359px;
    height: 56px;
    margin-left: 0px;
    margin-top: 40px;
  }
  body .careersPageDeskTop .fullFooter footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 768px;
    height: 96px;
    background: rgb(51, 58, 68);
  }
  body .careersPageDeskTop .fullFooter footer .mainFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 687px;
    height: 29px;
  }
  body .careersPageDeskTop .fullFooter footer .mainFooter .partOfMainFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 417px;
    height: 29px;
  }
  body .careersPageDeskTop .fullFooter footer .mainFooter .partOfMainFooter .allPageLinkess {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 249px;
    height: 25px;
  }
  body .careersPageDeskTop .fullFooter footer .mainFooter .partOfMainFooter .allPageLinkess a {
    text-decoration: none;
    color: #939CAA;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    transition: 0.4s;
  }
  body .careersPageDeskTop .fullFooter footer .mainFooter .partOfMainFooter .allPageLinkess a:hover {
    cursor: pointer;
    color: #FCB72B;
  }
  body .careersPageDeskTop .fullFooter footer .mainFooter .socialNetworks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    height: 24px;
  }
  body .careersPageDeskTop .fullFooter footer .mainFooter .socialNetworks .facebook svg path {
    fill: #FCB72B;
    transition: 0.4s;
  }
  body .careersPageDeskTop .fullFooter footer .mainFooter .socialNetworks .facebook svg path:hover {
    fill: #E5ECF4;
    cursor: pointer;
  }
  body .careersPageDeskTop .fullFooter footer .mainFooter .socialNetworks .twitter svg path {
    fill: #FCB72B;
    transition: 0.4s;
  }
  body .careersPageDeskTop .fullFooter footer .mainFooter .socialNetworks .twitter svg path:hover {
    fill: #E5ECF4;
    cursor: pointer;
  }
  body .careersPageDeskTop .fullFooter footer .mainFooter .socialNetworks .instagram svg path {
    fill: #FCB72B;
    transition: 0.4s;
  }
  body .careersPageDeskTop .fullFooter footer .mainFooter .socialNetworks .instagram svg path:hover {
    fill: #E5ECF4;
    cursor: pointer;
  }
}/*# sourceMappingURL=styleL.css.map */